{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/Something.js' %}" type="text/javascript"></script>
</head>
<body>

</script>


<h2>What Can JavaScript Do?</h2>

<p>JavaScript can change HTML attribute values.</p>

<p>In this case JavaScript changes the value of the src (source) attribute of an image.</p>
<p id="demo">A Paragraph.</p>

<button type="button" onclick="a()">Try it</button>


<button onclick="nope()">Click me!</button>
<button onclick="nope2()">test</button>
<button id = '1'>hide paragraph?</button>
<button id = '3'>show paragraph?</button>
<button id = '2'>hide image?</button>
<button onclick="document.getElementById('myImage').src='{% static 'img/qiqi1.jpg'%}'">Hands off</button>
<button onclick="document.getElementById('myImage').src='{% static 'img/qiqi2.jpg'%}'">Nope</button>
<img id="myImage" src="{% static 'img/qiqi1.jpg'%}" style="width:300px">



</body>
</html>
