{% load static %}
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.css' %}" type="text/css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/Something.js' %}" type="text/javascript"></script>
</head>
<body>
<script>
    console.log($('#h3.1'));
</script>
<div id="accordion" style="width: 80%; position: relative; float: left;">
  <h3 id="h31">Aktivitas saat ini</h3>
  <div id="myDiv1">
    <p >
    content1content1content1content1content1content1content1content1content1
    content1content1content1content1content1content1content1content1content1
    </p>
  </div>
 
    <h3 id="h32">Pengalaman organisasi/kepanitiaan
        
    </h3>
  <div id="myDiv2">
    <p >
    content2content2content2content2content2content2content2content2content2
    content2content2content2content2content2content2content2content2content2
    </p>
  </div>
  <h3 id="h33">Prestasi</h3>
  <div id="myDiv3">
    <p>
    content3content3content3content3content3content3content3content3content3
    content3content3content3content3content3content3content3content3content3
    </p>
  </div>
</div>

<div style="position: relative; float: left;">
    <button style="display: block; margin-bottom: 20px;" type="button" class="btn1">v</button>
    <button style=" margin-bottom: 20px;" type="button" class="btn1">^</button>
    <button style="margin-bottom: 20px;" type="button" class="btn3">v</button>
    <button style="display: block; margin-bottom: 20px;" type="button" class="btn3">^</button>

</div>
   

</div>
</body>
</html>