{% load static %}
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.css' %}" type="text/css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/Something.js' %}" type="text/javascript"></script>
</head>
<body>
<script>
    console.log($('#h3.1'));
</script>
<div id="accordion" style="width: 80%; position: relative; float: left;">
  <h3 id="h31">Aktivitas saat ini
    <span style="float: right;">
        <button type="button" class="btn1"  onclick="foo(event);">down</button>
        </span>
  </h3>
  <div id="myDiv1">
    <p >
    content1content1content1content1content1content1content1content1content1
    content1content1content1content1content1content1content1content1content1
    </p>
  </div>
 
    <h3 id="h32"><label  id="h3.2">Pengalaman organisasi/kepanitiaan</label>
        <span style="float: right;">
        <button type="button" class="btn1" onclick="foo(event);">up</button>
        <button type="button" class="btn3" onclick="foo(event);">down</button>
        </span>
    </h3>
  <div id="myDiv2">
    <p >
    content2content2content2content2content2content2content2content2content2
    content2content2content2content2content2content2content2content2content2
    </p>
  </div>
  <h3 id="h33">Prestasi</label>
    <span style="float: right;">
        <button type="button" class="btn3" onclick="foo(event);">up</button>
        </span>
  </h3>
  <div id="myDiv3">
    <p>
    content3content3content3content3content3content3content3content3content3
    content3content3content3content3content3content3content3content3content3
    </p>
  </div>
</div>


</div>
</body>
</html>